// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-header[_ngcontent-c0] {
  background-color: #A82315 !important;
  border-bottom: 1px solid #e1e1e1;
}

#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-footer[_ngcontent-c0] button[_ngcontent-c0] {
  justify-content: space-around !important;        
  background: #A82315 !important;
  border-radius: 12px !important;
  color: #fff !important;
  height: 20px !important;
  width: 60px !important;
  margin-left: 36px !important;         
  box-shadow: 0px 0px 10px grey !important;
  position: relative !important;
}
// #time-picker-wrapper.active[_ngcontent-c0] {
//   background: #edeef0 !important;
// }
#time-picker-wrapper[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-footer[_ngcontent-c0] {
  padding-left: 30px !important;
  text-align: left !important;
}
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-footer[_ngcontent-c0] {
  border-top: none !important;
}
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-clock[_ngcontent-c0] {
  background: black !important;
}
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-clock[_ngcontent-c0] > button.active[_ngcontent-c0] {
  background: #A82315 !important;
  color: #fff !important;
} 
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-clock[_ngcontent-c0] > button[_ngcontent-c0] {
  color: #fff !important;;
}
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] {
  background: #edeef0 !important;
}
#time-picker-wrapper.material-red[_ngcontent-c0] #time-picker[_ngcontent-c0] .time-picker-clock[_ngcontent-c0] {
  background: black !important;
  box-shadow: 0px 0px 18px black !important;
 
}
.smenu-custom {
  background: color($colors, lprimary, base) !important;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
// ********************************
.alert-md .alert-head {
  text-align: center !important;
  padding: 10px 10px 10px;
  background-color: transparent;
}
.alert-md .alert-button .button-inner {
  justify-content: center;
}
.alert-button-group {
  justify-content: space-around !important;
  button {
      color: blue !important;
      &:first-of-type {
        background: #444444 !important;
        border-radius: 12px;
        color: #fff !important;
        height: 36px;
        width: 79px;
        box-shadow: 0px 0px 10px grey;
        span {
            position: relative;
            // left: -20px;
        }
    }
      &:last-of-type {
          background: #A82315 !important;
          border-radius: 12px;
          color: #fff !important;
          height: 36px;
          width: 79px;
          box-shadow: 0px 0px 10px grey;
          span {
              position: relative;
              // left: -15px;
          }
      }
  }
}

.alert-wrapper {
  position: absolute;
  z-index: 10004;
  .alert-head {
    background-color: transparent;
    // border-bottom: 1px solid silver;
    box-shadow: 0px 0px 10px black;
      &::before {
        // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    // filter: blur(10px);
          content: '';
          // background: url(../assets/imgs/warning.png) no-repeat;
          background-size: cover;
          height: 35px;
          width: 35px;
          position: absolute;
          display: flex;
          align-items: center;
          align-content: center;
          transform: translateX(-50%);
          top: 2px;
          z-index: 20004;
      }
  }
}

.alert-message {
  text-align: center;
}

.alert-md .alert-button-group {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 8px 8px 8px 18px;
  background-color: transparent;
  padding-bottom: 12px;
}
.alert-md .alert-message {
  max-height: 240px;
  // min-height: 100px;
  font-size: 15px;
  overflow-y: hidden;
}
.alert-md .alert-wrapper {
  border-radius: 2px;
  max-width: 280px;
  background-color: #edeef0 !important;
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow:  0px 1px 20px black;
}
.alert-md .alert-message, .alert-md .alert-input-group {
  color: black;
  padding: 24px 24px;
  font-weight: 600;
}
.alert-md .alert-head {
  text-align: left;
  text-align: start;
  padding: 10px 10px 10px;
  background-color: transparent;
}

.alert-md .alert-checkbox-label {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
  white-space: normal; 
  color: initial;
  padding: 13px 26px;
}
// *********************************
.buttonCss {

  button.alert-button.exit-button{
    color: red;
  }

  button.alert-button.cancel-button{
    color: black;
  }
}
.bg-color {
  background: color($colors, lprimary, base) !important;
}

.ksp-pointer-side-menu {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 20px;
}

.ksp-pointer{
  cursor: pointer;
}

.item-md p {
  color: white;
}

.login-button {
  margin-top: 25px;
  height: 45px;
  font-size: 20px;
  background: color($colors, lprimary, base);
  text-transform: none;
}

.alert-ios .alert-radio-label {
  white-space: pre-line;
}

.alert-md .alert-radio-label {
  white-space: pre-line;
}

.ksp_item_lable {
  opacity: 1 !important;
  font-size: 15px !important;
  color: map-get($colors, dark) !important;
}

.ksp_heading_lable {
  padding-left: 15px;
  font-size: 18px !important;
  font-weight: bold;
  color: map-get($colors, dark) !important;
}

.titleicon div{
  display:inline-block;
  margin-bottom:18px;
  .subtitle {
    position: absolute;
    top: 5px;
    font-size: 100%;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none !important;
}
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}
.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: black !important;
  box-shadow: none !important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  // border-bottom-color: transparent !important;
  box-shadow: none !important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  // border-bottom-color: transparent !important;
  box-shadow: none !important;
}
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  // border-bottom-color: transparent !important;
  box-shadow: none !important;
}
.ion-select{
  border-bottom-color: black !important;
}
.noRecords{
  text-align: center;
  margin-top: 35vh !important;
  color: color($colors, primary, base) !important;
}
.date-picker[_ngcontent-c0] .layout-background[_ngcontent-c0] {
  background-color: white;
  height: 500px !important;
}

.scroll-content{
  overflow-y: auto;
}
.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 270px;
  max-width: 22%;
  border-right: 1px solid #dedede;
  border-left: 0;
}
.toolbar-title-md{
  padding: 0px;
}
$small-screen:320px;

.popover-content {
  width: 80% !important;
  @media screen and (min-width: 980px)

    /* Desktop */
    {
    width: 28% !important;
  }

  @media screen and (max-width: 979px)

  /* Tablet */
    {
    width: 80% !important;
  }

  @media screen and (max-width: 500px)

  /* Mobile */
    {
    width: 84% !important;
    // top: 20% !important;
    margin-top: 11% !important;
    left: 33.1094px !important;
    transform-origin: right top !important;
    transform: scale(1) !important;
    max-height: 57% !important;
    border: 1px solid rgba(0, 0, 0, 0.623);
  }
}

ion-popover {
  ion-label {
    white-space: normal !important;
  }
}
