.user-label{
  max-width: 18.666667% !important;
}
.left-list {
  height: 105%;
  width: 30%;
  background-color: #a96b6b;
  padding-top: 50px;
  position: absolute;
}
#oldPassNotMatch .modal-header, #successMatch .modal-header{
  height: 39px;
  padding: 3px 14px;
}
.user-man-btn{
  margin-top: 10px;
}
.modal-btn {
  border-radius: 0;
  background-color: #333;
}
input.nospinner[type=number]::-webkit-inner-spin-button, 
input.nospinner[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.searchedData{
  display: none;
}
/** media query starts here **/
@media(max-width: 767px){
  .left-list{
    width: 50%;
    z-index: 100;
    padding-top: 40px;
  }
}