<ion-header style="box-shadow: 0px 3px 10px #292828;">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-searchbar *ngIf="submissions && submissions.length && (submissions|formSearch:'':segment).length" placeholder="{{searchBy}}" [(ngModel)]="searchTerm" ></ion-searchbar> -->
    <ion-title>RANI</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-card style="margin-bottom: 16px;box-shadow: 0px 3px 10px #292828;" *ngFor="let formsList of homePageModelArr; let i = index">

      <ion-card-header class="card-content-head">
        <ion-row>
          <ion-col col-10 text-wrap>
            <ion-card-title class="card-content-title" text-left>
              {{formsList?.formName.split('-')[1] }}
            </ion-card-title>
          </ion-col>
          <ion-col col-1 push-lg-1 (click)="openNewBlankForm(formsList.formKeyName,'save','new')">
            <ion-icon name="add-circle" class="add-new"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="row-spacing">
          <ion-col col-5 (click)="formsList?.saveCount?form(formsList.formKeyName,'save'):''" [ngClass]="!formsList?.saveCount? 'disabled-item' : 'enabled-item'">
            <ion-icon name='clipboard' class="saved"></ion-icon>
            Saved
            <ion-badge float-right>{{formsList?.saveCount}}</ion-badge>
          </ion-col>
          <ion-col  col-5 push-1 (click)="formsList?.rejectCount?form(formsList.formKeyName,'rejected'):''" [ngClass]="!formsList?.rejectCount? 'disabled-item' : 'enabled-item'">
            <ion-icon name='close-circle' class="reject"></ion-icon>
            Rejected
            <ion-badge float-right>{{formsList?.rejectCount}}</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row class="row-spacing">
          <ion-col col-5 (click)="formsList?.finalizeCount?form(formsList.formKeyName,'finalized'):''" [ngClass]="!formsList?.finalizeCount? 'disabled-item' : 'enabled-item'">
            <ion-icon name='archive' class="finalized"></ion-icon>
            Finalized
            <ion-badge float-right>{{formsList?.finalizeCount}}</ion-badge>
          </ion-col>

          <ion-col col-5 push-1 (click)="formsList?.sentCount?form(formsList.formKeyName,'sent'):''" [ngClass]="!formsList?.sentCount? 'disabled-item' : 'enabled-item'">
            <ion-icon name='send' class="sent"></ion-icon>
            Sent
            <ion-badge float-right>{{formsList?.sentCount}}</ion-badge>
          </ion-col>
        </ion-row>

      </ion-card-content>

      
    </ion-card>
    <!-- <div>
      <h4 class="noRecords" *ngIf="homePageModelArr && (homePageModelArr|homeFormSearch:searchTerm).length==0">No forms
        found</h4>
      <h4 class="noRecords" *ngIf="formList === undefined || formList.length === 0">No forms assigned</h4>

    </div> -->
    
  </ion-grid>
</ion-content>
