page-plan {
    .planHeading{
        border: 1px solid;
        background: #333333;
        color: #fff;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }

    .planData{
        border: 0.3px solid rgb(211, 208, 208);
        font-size: 13px;
        padding-top: 7px;
        padding-bottom: 7px; 
    }
}
