<ion-row>

  <ion-col col-3 class="col1">
    <div class="borders">
      <ul padding>
        <li *ngFor="let sectionHeader of sectionNames; let i = index" class="ksp-pointer" (click)="sectionSelected(sectionHeader)">{{i+1}}.
          <span [ngClass]="sectionHeader == sectionHeading? 'underline':''">{{sectionHeader}}</span>
        </li>
      </ul>
    </div>  
    <ion-row>
      <ion-col>
        <button [disabled]="disableStatus" ion-button block (click)="onSave('save')">Save</button>
      </ion-col>
      <ion-col>
        <button [disabled]="disableStatus" ion-button block (click)="onSave('finalized')">Finalized</button>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col col-9 class="col2" #scrollId>
    <div *ngIf="subSections">
      <div *ngFor="let subSectionMap of dataSharingService.getKeys(subSections[0]); ">
        <ion-row>
          <ion-col col-12 padding-left>
            <h3  [ngClass]="[checkQuestionSizeBasedOnRelevance(subSections[0][subSectionMap]) ? '' : 'd-none']"> {{subSectionMap}}</h3> 
            <h3 *ngIf="!checkQuestionSizeBasedOnRelevance(subSections[0][subSectionMap])">Relevant Question are hidden in this section</h3>
        
          </ion-col>
          </ion-row>
         <div *ngFor="let question of subSections[0][subSectionMap]; let i = index" [ngClass]="['form-group',(question.displayComponent == true) ? '':'d-none',(question.dependecy == true)? 'leftMargin':'']">
          <br/>
          <div [ngSwitch]="question.controlType">

            <ion-row>
              <ion-col col-7 padding-left>
                <ion-label class="ksp_item_lable" text-wrap [attr.for]="question.columnName" stacked>
                  <strong *ngIf="question.controlType == 'heading' || question.controlType == 'beginrepeat' || question.controlType == 'tableWithRowWiseArithmetic'">{{question.label}}</strong>
                  <span *ngIf="question.controlType != 'heading' && question.controlType != 'beginrepeat' && question.controlType != 'tableWithRowWiseArithmetic'">{{question.label}}</span>
                  <strong *ngIf="question.mandatory == 'yes'" style="color:red">*</strong>
                </ion-label>
              </ion-col>
              <ion-col col-5 class="content" padding-right *ngIf="question.controlType != 'beginrepeat' && question.controlType != 'tableWithRowWiseArithmetic'">

                <ion-input *ngSwitchCase="'textbox'" [disabled]="(disableStatus || question.disabled)" [id]="question.columnName"
                  [ngClass]="[question.type == 'tel' ? 'no-spinners':'']"  min="0" [maxlength]="question.maxLength" 
                  [type]="question.type" [(ngModel)]="question.value" 
                  (paste)="onPaste(question)" 
                  (keyup)="checkNumber($event,question.type,question);syncGroup(question,null,$event);"
                  (keypress)="removeColor(question.columnName);numberInput($event,question);"
                  (ionChange)="checkRelevance(question);
                  clearFeatureFilters(question);
                  compute(question);validateBeginRepeat(question.columnName);checkConstraints(question);calculateScore(question)
                  ">
                </ion-input>  

                <ion-input *ngSwitchCase="'file'"   (change)="onFileChange($event, question)" #fileInput 
                accept="application/pdf,application/vnd.ms-excel,application/msword" 
                [id]="question.columnName" 
                [type]="question.type"  
                class="form-control" 
                [ngClass]="'no-spinners'"
                [disabled]="(disableStatus || question.disabled)"></ion-input>

                <ion-input *ngSwitchCase="'mfile'" class="fileChooserButton" (change)="onFileChange($event, question)"
                  #fileInput multiple  accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                  [id]="question.columnName"
                  [type]="question.type" class="form-control" [ngClass]="'no-spinners'" title=" " 
                  [disabled]="(disableStatus || question.disabled)"></ion-input>
                <div>
                  <div *ngFor="let f of question.attachedFiles;let fi = index">
     
                    <div style="display: inline;">
                       <ion-chip #chip1>
                        <ion-label>{{f['fileName']}}</ion-label>
                        <button ion-button clear color="danger" (click)="deleteFile(fi,question)">
                          <ion-icon name="close-circle"></ion-icon>
                        </button>
                      </ion-chip>
                    </div>
                  </div>
                  <ion-label style="color: brown;word-wrap: break-word !important;white-space: pre-wrap;" 
                  *ngIf="question.errorMsg!=null">{{question.errorMsg}}</ion-label>
                </div>

                <ion-input *ngSwitchCase="'uuid'" [disabled]="true" [id]="question.columnName" [type]="question.type"
                  [(ngModel)]="question.value"></ion-input>

                <ion-input *ngSwitchCase="'score-holder'" [disabled]="true" [id]="question.columnName" [type]="question.type"
                  [(ngModel)]="question.value" [ngClass]="[question.type == 'number' ? 'no-spinners':'']">
                </ion-input>

                <ion-input *ngSwitchCase="'score-keeper'" [disabled]="true" [id]="question.columnName" [type]="question.type"
                  [(ngModel)]="question.value" [ngClass]="[question.type == 'number' ? 'no-spinners':'']">
                </ion-input>

                <ion-input *ngSwitchCase="'sub-score-keeper'" [disabled]="true" [id]="question.columnName" [type]="question.type"
                  [(ngModel)]="question.value" [ngClass]="[question.type == 'number' ? 'no-spinners':'']">
                </ion-input>

                <ion-input *ngSwitchCase="'Time Widget'" 
                displayFormat="HH:mm" 
                [(ngModel)]="question.value" [id]="question.columnName"
                (click)="open(question)" (ionBlur)="checkMinMax(question,null)" readonly=true
                [disabled]="(disableStatus || question.disabled)">
                </ion-input>

                <my-date-picker *ngSwitchCase="'Date Widget'" 
                [disabled]="(disableStatus || question.disabled)" [options]="myDatePickerOptions" [id]="question.columnName"
                [(ngModel)]="question.value" (dateChanged)="onDateChanged(question,null,$event)"></my-date-picker>

                <ion-select *ngSwitchCase="'dropdown'" 
                  [multiple]="question.type==='checkbox'" [disabled]="(disableStatus || question.disabled)" [(ngModel)]="question.value"
                  interface="popover" #opt2  [id]="question.columnName"
                  (ionChange)="checkRelevance(question);syncGroup(question,null,$event);removeColor(question.columnName);
                  calculateScore(question)">

                  <ion-label>Select One</ion-label>
                  <div *ngFor="let opt of question.options">
                    <ion-option class="customLabel" *ngIf="opt.visible == true" [value]="opt.key">
                      {{opt.value}}
                    </ion-option>
                  </div>
                </ion-select>
             

                  <div *ngSwitchCase="'segment'" margin-left margin-right>
                    <ion-segment [disabled]="(disableStatus || question.disabled)" [(ngModel)]="question.value"   
                     [id]="question.columnName" (ionChange)="checkRelevance(question);syncGroup(question,null,$event);calculateScore(question);
                     removeColor(question.columnName);">
                    <ion-segment-button *ngFor="let opt of question.options" [value]=opt.key 
                    >
                        {{opt.value}}
                      </ion-segment-button>
                    </ion-segment>
                  </div>

                  <ion-item *ngSwitchCase="'textarea'">
                    <ion-textarea [id]="question.columnName" [disabled]="disableStatus" (paste)="onPaste(question)" 
                    [(ngModel)]="question.value" [maxlength]="question.maxLength"></ion-textarea>
                  </ion-item>

                <ion-row *ngSwitchCase="'geolocation'">
                  <ion-col col-10 class="geo-loc-text">
                <ion-input    readonly class="geo-loc-input" [disabled]="(disableStatus || question.disabled)" [id]="question.columnName" type="text" [(ngModel)]="question.value" ></ion-input>
              </ion-col>
              <ion-col col-2 class="geo-loc">
                <button ion-button icon-only [disabled]="(disableStatus || question.disabled)" class="geo-loc-button" (click)="getGeoLocation(question);"><ion-icon name="locate"></ion-icon></button>
              </ion-col>
            </ion-row>

            <ion-row *ngSwitchCase="'camera'">
                <input type="file" hidden [id]="question.columnName+'file-input'" (change)="onCameraFileChange($event,question)" accept="image/*;capture=camera">
              <ion-col col-10 class="geo-loc-img">
                  <img [src]="question.value?question.value.src:'assets/icon/uploadImage.png'" [id]="question.columnName" alt="Petrol Pump Pic" />
          </ion-col>
          <ion-col col-2 class="geo-loc">
            <button ion-button icon-only [disabled]="disableStatus ||  question.disabled" class="geo-loc-button" (click)="openCamera(question)"><ion-icon name="camera"></ion-icon></button>
          </ion-col>
        </ion-row>
        
              </ion-col>
            </ion-row>

              <!-- starting table section -->
            <div *ngSwitchCase="'tableWithRowWiseArithmetic' || 'table'">
              <ion-grid class="form-table">
                <div *ngFor="let rows of question.tableModel;let rowIndex = index">
                  <ion-row *ngIf="rowIndex==0" text-wrap>
                    <ion-col text-center *ngFor="let cell of  dataSharingService.getKeys(rows);">
                      <strong>{{cell}}{{cell.mandatory}}
                        <strong *ngIf="question.mandatory == 'yes'" style="color:red">*</strong>
                      </strong>
                    </ion-col>
                  </ion-row>
                  <ion-row text-wrap>
                    <ion-col style="    display: flex;
                    align-items: center;" *ngFor="let cell of  dataSharingService.getKeys(rows);let columnIndex = index">
                      <ion-label text-center *ngIf="columnIndex==0">
                        <strong>{{rows[cell]}}{{cell.mandatory}}
                          <strong *ngIf="question.mandatory == 'yes'" style="color:red">*</strong>
                        </strong>
                      </ion-label>

                       <ion-input class="table-data" *ngIf="columnIndex > 0" text-center 
                        [disabled]="disableStatus || rows[cell].disabled  || question.disabled  || (rows[cell].defaultSettings && rows[cell].defaultSettings.includes('disabled'))"
                        [id]="rows[cell].key" [type]="rows[cell].type" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                        [(ngModel)]="rows[cell].value" (ionChange)="calculateTableArithmetic(cell, columnIndex,rowIndex,question.tableModel)"
                        min="0" 
                        (paste)="onPaste(rows[cell])"
                        (keyup)="checkNumber($event,question.type,question);syncGroup(rows[cell],null,$event);"
                        (keypress)="removeColor(rows[cell].columnName);numberInput($event,rows[cell]);"
                        (ionChange)="checkRelevance(rows[cell]);
                        clearFeatureFilters(rows[cell]);
                        compute(rows[cell]);validateBeginRepeat(rows[cell].columnName);checkConstraints(rows[cell]);calculateScore(question)" 
                        >
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
            </div>
     <!-- starting begin repeat section -->
            <div *ngSwitchCase="'beginrepeat'">
              <div *ngFor="let accordion of question.beginRepeat">
                <div class="border-list" padding-bottom padding-right>
                  <div *ngFor="let bgquestion of accordion; let j =index" 
                  [ngClass]="['form-group',(bgquestion.dependecy == true) ? 'leftMargin':'',(bgquestion.displayComponent == true) ? '':'d-none']">
                    <div [ngSwitch]="bgquestion.controlType">

                      <ion-row>

                        <ion-col col-7 padding-left>
                          <ion-label class="ksp_item_lable" text-wrap [attr.for]="bgquestion.columnName" stacked>
                            <strong *ngIf="bgquestion.controlType == 'heading'">{{bgquestion.label}}</strong>
                            <span *ngIf="bgquestion.controlType != 'heading'">{{bgquestion.label}}</span>
                            <strong *ngIf="bgquestion.mandatory == 'yes'" style="color:red">*</strong>
                          </ion-label>
                        </ion-col>
                        <ion-col col-5 class="content">

                          <ion-input *ngSwitchCase="'textbox'" 
                            [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                            [id]="bgquestion.columnName" 
                            [type]="bgquestion.type" 
                            [(ngModel)]="bgquestion.value" 
                            (ionBlur)="checkMinMax(bgquestion,question)"
                            (paste)="onPaste(bgquestion)" 
                            (keypress)="numberInput($event,bgquestion)" min="0"
                            [maxlength]="bgquestion.maxLength" 
                            (keyup)="checkNumber($event,bgquestion.type,bgquestion);syncGroup(bgquestion,question,$event)"
                            (ionChange)="checkRelevance(bgquestion);
                            clearFeatureFilters(question);
                            compute(question);validateBeginRepeat(question.columnName);checkConstraints(question);calculateScore(question)
                            ">
                          
                          </ion-input>

                            <ion-input *ngSwitchCase="'file'"   (change)="onFileChange($event, bgquestion)" #fileInput 
                            accept="application/pdf,application/vnd.ms-excel,application/msword" 
                            [id]="bgquestion.columnName" 
                            [type]="bgquestion.type"  
                            class="form-control" 
                            [ngClass]="'no-spinners'"
                            [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                            ></ion-input>
            
                            <ion-input *ngSwitchCase="'mfile'" class="fileChooserButton" 
                            (change)="onFileChange($event, bgquestion)"
                            #fileInput multiple accept="question.fileExtensions" 
                            [id]="bgquestion.columnName"
                            [type]="bgquestion.type" class="form-control" [ngClass]="'no-spinners'" title=" " 
                            [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                            ></ion-input>

                            <div>
                              <div *ngFor="let f of bgquestion.attachedFiles;let fi = index">
                                <div style="display: inline;">
                                   <ion-chip #chip1>
                                    <ion-label>{{f['fileName']}}</ion-label>
                                    <button ion-button clear color="danger" (click)="deleteFile(fi,bgquestion)">
                                      <ion-icon name="close-circle"></ion-icon>
                                    </button>
                                  </ion-chip>
                                </div>
                              </div>
                              <ion-label [ngClass]="[(bgquestion.errorMsg == null ) ? 'd-none':'']" style="color: brown;word-wrap: break-word !important;white-space: pre-wrap;" 
                              *ngIf="bgquestion.errorMsg!=null">{{bgquestion.errorMsg}}</ion-label>
                            </div>

                          <ion-input *ngSwitchCase="'uuid'" 
                          [disabled]="true" 
                          [id]="bgquestion.columnName"
                          [type]="bgquestion.type"
                          [(ngModel)]="bgquestion.value"></ion-input>

                          <ion-input *ngSwitchCase="'score-holder'" [disabled]="true" [id]="bgquestion.columnName" [type]="bgquestion.type"
                          [(ngModel)]="bgquestion.value" [ngClass]="[bgquestion.type == 'number' ? 'no-spinners':'']">
                          </ion-input> 

                          <ion-input *ngSwitchCase="'score-keeper'" 
                          [disabled]="true" [id]="bgquestion.columnName" [type]="bgquestion.type"
                          [(ngModel)]="bgquestion.value" [ngClass]="[bgquestion.type == 'number' ? 'no-spinners':'']"></ion-input>

                          <ion-input *ngSwitchCase="'sub-score-keeper'" [disabled]="true" [id]="bgquestion.columnName"
                            [type]="bgquestion.type" [(ngModel)]="bgquestion.value" [ngClass]="[question.type == 'number' ? 'no-spinners':'']"></ion-input>

                          <ion-input *ngSwitchCase="'Time Widget'"   [id]="bgquestion.columnName"
                          [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                          displayFormat="HH:mm" 
                          [(ngModel)]="bgquestion.value" 
                          (click)="open(bgquestion)" readonly=true></ion-input>

                          <my-date-picker *ngSwitchCase="'Date Widget'"  [id]="bgquestion.columnName"
                          [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                            [options]="myDatePickerOptions" [(ngModel)]="bgquestion.value" 
                            (dateChanged)="onDateChanged(bgquestion,question,$event);checkRelevance(bgquestion);"></my-date-picker>

                          <ion-select *ngSwitchCase="'dropdown'"  [multiple]="question.type==='checkbox'"  [id]="bgquestion.columnName"
                          [disabled]="disableStatus  || question.beginrepeatDisableStatus || bgquestion.disabled"
                          [(ngModel)]="bgquestion.value" interface="popover" #opt1 
                          (ionChange)="checkRelevance(bgquestion);syncGroup(bgquestion,question,null);removeColor(bgquestion.columnName);
                          calculateScore(bgquestion)">
                          <ion-label>Select One</ion-label>
                          <ion-option *ngFor="let opt of bgquestion.options" [value]="opt.key">{{opt.value}}</ion-option>
                          </ion-select>

                          <div *ngSwitchCase="'segment'" margin-left margin-right>
                            <ion-segment  [disabled]="disableStatus || question.beginrepeatDisableStatus || bgquestion.disabled"
                             [(ngModel)]="bgquestion.value"   
                             [id]="bgquestion.columnName" 
                             (ionChange)="checkRelevance(bgquestion);syncGroup(bgquestion,null,$event);calculateScore(bgquestion);
                             removeColor(bgquestion.columnName);"
                             >
                            <ion-segment-button *ngFor="let opt of bgquestion.options" [value]=opt.key 
                           >
                                {{opt.value}}
                              </ion-segment-button>
                            </ion-segment>
                          </div>

                          <ion-input  *ngSwitchCase="'geolocation'"  [disabled]="disableStatus  || question.beginrepeatDisableStatus || bgquestion.disabled" readonly class="geo-loc-input" [id]="question.columnName" type="text" [(ngModel)]="question.value" ></ion-input>
                          <button *ngIf="question.controlType==='geolocation'" 
                          [disabled]="(disableStatus || question.disabled)" 
                          class="button-loc" item-end ion-button icon-only  
                          (click)="getGeoLocation(question);"><ion-icon name="locate"></ion-icon></button>
          
                          
                        <ion-row *ngSwitchCase="'camera'">
                            <ion-col col-10 class="geo-loc-img">
                                <input type="file" hidden [id]="bgquestion.columnName+'file-input'"  (change)="onCameraFileChange($event,bgquestion)" accept="image/*;capture=camera">
                                <img [src]="bgquestion.value?bgquestion.value.src:'assets/icon/uploadImage.png'"  [id]="bgquestion.columnName" alt="Pic" />
                        </ion-col>
                          
                        <ion-col col-2 class="geo-loc">
                            <button ion-button icon-only class="" (click)="openCamera(bgquestion);" [disabled]="disableStatus  || question.beginrepeatDisableStatus || bgquestion.disabled"><ion-icon name="camera"></ion-icon></button>
                          </ion-col>
                        </ion-row>
    

                        </ion-col>
                      </ion-row>
                      <div [ngClass]="[!bgquestion.errorFound ? 'd-none':'']" style="color: red;">{{bgquestion.errorMsg}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div [ngClass]="[!question.errorFound ? 'd-none':'']" style="color: red;">{{question.errorMsg}}</div>
            </div>
            <div class="border-list" *ngSwitchCase="'beginrepeat'">
              <div class="repeat-list">
                <ion-row class="ksp-pointer">
                  <ion-col md-10>
                    <span>Add another</span>
                  </ion-col>
                  <button style="background: transparent" [disabled]="disableStatus || question.beginrepeatDisableStatus || question.beginRepeatMinusDisable" (click)="deleteLastWorker(question.key,question)">
                    <ion-icon right name="remove-circle"></ion-icon>
                  </button>
                  <button style="background: transparent" [disabled]="disableStatus || question.beginrepeatDisableStatus" (click)="addAnotherWorker(question.key)">
                    <ion-icon right name="add-circle"></ion-icon>
                  </button>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-col>
</ion-row>
