.header-fixed { 
    position: absolute; 
    display:none;
    z-index: 1;
    overflow: hidden;
    margin-right: 15px;
    // width: auto;
}
.parent-tabl-container{
    position: relative;
}
.table{
    margin-bottom: 0px;
}
.table th {
    padding: 9px;   
}
.table td {
    padding: 4px;   
    vertical-align: middle;
}
table thead{
    background-color: #333333;
    color: #FFF;
    font-size: 15px !important;
}
table{
    font-size: 13px;
}
td{
    text-align: center;
}
table thead th{
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
}
.pagination-view{
    float:right;
}
#myInput {
    width: 100%;
    border-radius: 0;
    font-size: 16px; 
    padding: 12px 20px 12px 26px;
    font-style: inherit;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px 0px;
    font-size: 15px;
    height: 34px;
}
.form-group{
    margin-bottom: 0px !important; 
}
.table-btn.search .form-group{
    position: relative;
}
.table-btn.search .form-group:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 5px;
    left: 7px;
    color: #9c9c9c;
    content: "\f002";
}
.search-area {   
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    color: #777;
}
input[type="text"]{
    font-style:italic;
}
.table-btn .btn-excel, .table-btn .btn-pdf{
    margin-bottom: 10px;
    background-color: #357080;
    color: #FFF;
    border-radius: 0;
}
.table-btn .btn-excel span, .table-btn .btn-pdf span{
    font-size: 14px;
}
.btn-excel:focus, .btn-excel:active{
    outline: none !important;
    border: none !important;
}
.fa-sorting{
    cursor: pointer;
}
.table-btn {
    display: inline-block;
    float: right;
    margin: 0 5px;
    // margin-bottom: 15px;
}
.td-minWidth{
    min-width: 120px !important;
}
.td-minWidth span i{
    cursor: pointer;
    color: #333;
    font-size: 18px;
}
.td-minWidth button{
    border: none;
    background: none;
}
.activeSubmission{
    background: bisque !important;
}
.fa-stack {  
    /* width: 2em; */   
    margin-right: 10px;
}
.fa-stack :disabled i{
    cursor: no-drop !important;
    color: #999 !important;
}
.search-close{
    margin-top: -28px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: #999;
}
.ddm-report{
    padding: 0px 0 2px 0px;
    margin-bottom: 6px;
    font-size: 14px;
    float: left;
}
.custom-file-label{
    height:  38px !important;
}
.custom-file-label::after{
    height:  36px !important;
    display: none;
}
.upl-size{
    font-size: 11px;
    color: #a82314;
    padding: 10px 0 0 10px;
    line-height: 14px;
}
.up-rpt{
    font-size: 14px;
}

/** media query starts here **/
@media(max-width: 767px){
    #myInput{
        width: 150px;
        float: right;
    }
    .search-close {
        margin-top: 5px;
    }
}
@media(max-width: 360px){
    .ddm-report{
        font-size: 11px;
    }
    .up-rpt{
        font-size: 10px;
    }
}
@media(max-width: 320px){
    .ddm-report{
        font-size: 9px;
    }
    .up-rpt{
        font-size: 10px;
    }
}
@media(max-width: 565px) and (max-height: 380px){
    #myInput{
        width: 115px;
    }
}