<div class="row">
  <div class="col-md-12" style="padding-bottom: 10px;">
    <div class="text-right">
      <div *ngIf="searchBox" class="table-btn search">
        <div class="form-group">
          <input class="form-control" type="text" id="myInput"
            [(ngModel)]="searchFilter" placeholder="Search..." maxlength="100">
          <span *ngIf="searchFilter" class="search-close"
            (click)="clearSearchText();"> <i class="fa fa-times-circle"
              style="font-size:22px;" aria-hidden="true"></i> </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isFileUpload && userToken.authorities.indexOf('QUALITATIVE_REPORT')== -1">
  <div class="col-md-8">
    <div class="ddm-report">
       <div class="input-group">        
          <div class="input-group-prepend">
            <span class="input-group-text up-rpt" id="inputGroupFileAddon01">Upload Report:
              &nbsp;</span>
          </div>
          <div style="border: 1px solid #ddd;">
          <input id="file" type="file" name="upl_reprt" [(ngModel)]="uploadReport"
          (change)="submitUploadForm($event, uploadReport)" style="padding: 5px 0 0 5px;" accept="application/pdf">
          </div>
          <!-- <button style="border: none; cursor: pointer;" (click)="submitUploadForm($event, uploadReport)">Upload</button> -->
          <span class="upl-size">Please upload PDF format only <br/> Maximum
              file size is 2 MB</span>
          </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="parent-tabl-container">
        <kendo-pdf-export #pdf paperSize="A2" margin="2cm"
          [repeatHeaders]="true" [scale]="0.6">
          <div class="filled-form view-form" id="{{'table-fixed-container'+id}}"
            (scroll)="fixTableHeader($event)"
            style="overflow: auto;">

            <!-- Header fixed table section -->
            <table *ngIf="headerFixed" id="{{'header-fixed'+id}}" class="table
              table-striped table-bordered header-fixed">
              <thead>
                <tr>
                  <th *ngFor="let col of columnValues |
                    excludeElementPipe:'Districts'"
                    [ngClass]="{selected: col == columns}">{{col}}
                    <i *ngIf="sorting && (!sortExcludeColumn ||
                      (sortExcludeColumn && sortExcludeColumn.indexOf(col) ==
                      -1))"
                      (click)="sort(col)" class="fa fa-caret-up fa-lg
                      fa-sorting" [ngClass]="{
                      'fa-sort-asc': (col == columns && !isDesc),
                      'fa-sort-desc': (col == columns && isDesc) }"
                      aria-hidden="true">
                    </i>
                  </th>
                  <th class="td-minWidth" *ngIf="currentUrl!='/edit-planning'">Action</th>
                  <th class="td-minWidth" *ngIf="currentUrl=='/edit-planning'">Edit target</th>
                </tr>
              </thead>
              <tbody *ngIf="rowData">
                <tr
                  *ngFor="let rowDetails of rowData | searchPipe: searchFilter |
                  sortPipe: {property: columns, direction: direction} |
                  paginate: { itemsPerPage: itemsPerPage, currentPage: p, id:id
                  } let i= index;">
                  <td *ngFor="let col of columnData">
                    <div *ngIf="rowDetails && getType(rowDetails[col]) !=
                      'object'">{{rowDetails[col]}}</div>
                    <div *ngIf="rowDetails && getType(rowDetails[col]) ==
                      'object'" style="display: inline-flex;">
                      {{(rowDetails[col])}}
                    </div>
                  </td>
                  <td class="td-minWidth">
                    <span class="reset-pass-btn" matTooltip="Preview PDF"
                      (click)="previewByClicked(rowDetails)" *ngIf="currentUrl!='/edit-planning'">
                      <i class="fa fa-file-pdf-o"></i>
                      <!-- <i class="fa fa-download"></i> -->
                    </span>
                    <span class="reset-pass-btn" matTooltip="Edit plan"
                    (click)="editPlanByClicked(rowDetails)" *ngIf="currentUrl=='/edit-planning'">
                    <i class="fa fa-edit" style="font-size:20px"></i>
                  </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- main table -->
            <table class="table table-striped table-bordered" id="{{id}}">
              <thead>
                <tr>
                  <th *ngFor="let col of columnValues |
                    excludeElementPipe:'Districts'"
                    [ngClass]="{selected: col == columns}">{{col}}
                    <i *ngIf="sorting && (!sortExcludeColumn ||
                      (sortExcludeColumn && sortExcludeColumn.indexOf(col) ==
                      -1))"
                      (click)="sort(col)" class="fa fa-caret-up fa-lg
                      fa-sorting" [ngClass]="{
                      'fa-sort-asc': (col == columns && !isDesc),
                      'fa-sort-desc': (col == columns && isDesc) }"
                      aria-hidden="true">
                    </i>
                  </th>
                  <th class="td-minWidth" *ngIf="currentUrl!='/edit-planning'">Action</th>
                  <th class="td-minWidth" *ngIf="currentUrl=='/edit-planning'">Edit target</th>
                </tr>
              </thead>
              <tbody *ngIf="rowData">
                <tr
                  *ngFor="let rowDetails of rowData | searchPipe: searchFilter |
                  sortPipe: {property: columns, direction: direction} |
                  paginate: { itemsPerPage: itemsPerPage, currentPage: p, id:id
                  } let i= index;">
                  <td *ngFor="let col of columnData">
                    <div *ngIf="rowDetails && getType(rowDetails[col]) !=
                      'object'">{{rowDetails[col]}}</div>
                    <div *ngIf="rowDetails && getType(rowDetails[col]) ==
                      'object'" style="display: inline-flex;">
                      {{(rowDetails[col])}}
                    </div>
                  </td>
                  <td class="td-minWidth">
                    <span class="reset-pass-btn" matTooltip="Preview PDF"
                      (click)="previewByClicked(rowDetails)" *ngIf="currentUrl!='/edit-planning'">
                      <i class="fa fa-file-pdf-o"></i>
                      <!-- <i class="fa fa-download"></i> -->
                    </span>
                    <span class="reset-pass-btn" matTooltip="Edit target"
                    (click)="editPlanByClicked(rowDetails)" *ngIf="currentUrl=='/edit-planning'">
                    <i class="fa fa-edit" style="font-size:20px"></i>
                  </span>                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </kendo-pdf-export>
        <br />
        <div
          *ngIf="(rowData && !rowData.length) || (rowData && rowData.length &&
          (rowData | searchPipe: searchFilter).length==0)"
          class="col-md-12 text-center search-area">No Data Found</div>
          <div *ngIf="isPaginate && (rowData && rowData.length)&&(rowData && rowData.length && (rowData | searchPipe: searchFilter).length) > itemsPerPage">
          <pagination-controls (pageChange)="p= $event;" id="{{id}}"
            class="pagination-view"></pagination-controls>
        </div>
      </div>
    </div>
  </div>