page-form-list {
  .card-outside{
    margin-top: 0px;
    background: color($colors, llight, base);
    cursor: pointer;
  }
  .card-inside{
      padding: 7px;
      font-size: 16px;
  }
  .form-group{
    margin-bottom: 15px;
  }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .form-title{
    margin-top: 9px;
  }
  .add_new{
    background: color($colors, lprimary, base) !important;
  }
  // span{
  //   color: color($colors, light, base) !important;
  // }


  .card-content-head{
    background: color($colors, primary, base);
    padding: 6px 16px;
  }
  .card-content-title
  {
    color: color($colors, light, base);
    font-size:1.6rem;
  }



  .card-content:not(.card-content-head)
  {
    padding: 0px !important;
  }

  ion-row.head
  {
    font-size: 1.6rem;
    background-color: #286bff;
    color: white;
    border-top:  thin solid black;
  }

  // ion-row.body{

  // }
  .col{
    // border-right:  thin solid black;
    // border-left:  thin solid black;
    // border-bottom:  thin solid black;
  }

  .searchbar-input-container
  {
    border:thin solid;
  }

  .details {
     color:#666 !important;
}

.rowColor {
  background-color: rgb(245, 245, 245);
  color: black;
  font-weight: 600;
  // margin: 20px;
  // width: 90%;
  
}

.card-md {
  margin: 16px;
  border-radius: 2px;
  width: calc(100% - 31px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.alignMiddle{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  // background: #A82315;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  background: #444444;
  color: white;
}

.rowColor {
  background-color: rgb(245, 245, 245);
  color: black;
  font-weight: 600;
}

.searchbar-input-container {
  border: 1px white solid ;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 10px grey;
}
.searchbar-md {
  background: #d3d3d30d;
  padding: 8px;
}
.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  background-color: #edeef0;
}

}